<!-- Make sure that you don't have any tabs otherwise includes won't parse -->
<nav>
    <ul class="nav {{include.navclass}}">
        <li><a href="{{site.baseurl}}/index.html" class="{% if page.url == '/index.html'%}current{% endif%}">Home</a></li>
        <li><a href="{{site.baseurl}}/articles.html" class="{% if page.url == '/articles.html'%}current{% endif%}">Articles</a></li>
        <li><a href="{{site.baseurl}}/about.html" class="{% if page.url == '/about.html'%}current{% endif%}">About</a></li>
    </ul>
</nav>