<!-- Make sure that you don't have any tabs otherwise includes won't parse -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand">Statistical Thinking</div>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li class="{% if page.url == '/index.html' %}active{% endif %}"><a href="{{site.baseurl}}/">Home</a></li>
            <li class="{% if page.url == '/articles.html' %}active{% endif %}"><a href="{{site.baseurl}}/articles/">Articles</a></li>
            <li class="{% if page.url == '/about.html' %}active{% endif %}"><a href="{{site.baseurl}}/about/">About</a></li>
        </ul>
        <form class="navbar-form navbar-right" role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
            </div>
        <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div><!--/.nav-collapse -->
  </div>
</nav>