<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{% if page.title %}{{page.title}} - {% endif %}Statistical Thinking</title>
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/common.css">
</head>

<body>

{% include nav.html %}

<div class="container">
    {{content}}
</div>

<!--
<footer>
  <p>&copy; Statistical Thinking 2015. tmp@<span style="display:none">SPAM HERE LOTS</span>statistical-thinking.org</p>
</footer>
-->

</body>
</html>